extends _layout.pug

block locals
  - var title = 'Hello Pug'

block content
  h1 Hello Pug, World!
  div#react-root
  img(src='../img/icon.png')
  img(src='../img/thumbnail.jpg' width='400' height='700')
